{% extends 'catalogue/base.html' %}
{% load static %}

{% block content %}
<header class="masthead-search h-50">
    <div class="container h-50">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h2 class="text-uppercase text-white font-weight-bold">Bonjour, {{ user.username }} !</h2>
                <hr class="divider my-4"/>
                <h4 class="text-uppercase text-white font-weight-bold">Votre adresse mail : {{ user.email }}</h4>
                <hr class="divider my-4"/>

            </div>
        </div>
    </div>
</header>
<h3 class="text-uppercase text-center  font-weight-bold">Vos 10 dernières recherches:</h3>
<div class="container my-auto">
    <div class="row h-100 align-items-center justify-content-center text-center">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Recherche</th>
                <th>Date</th>
                <th>Nombre de résultats</th>
                <th>Relancer la recherche</th>
            </tr>
            </thead>
            <tbody>
            {% for query in history %}
            <tr>
                <td>{{query.query}}</td>
                <td>{{query.date}}</td>
                <td>{{query.number}}</td>
                <td><h5><a href="/search/?query={{query.query}}"><img width="15" height="15"
                                                                      src="{% static 'catalogue/assets/img/lien.svg' %}"></a>
                </h5></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <form class="input-group justify-content-center" action="{% url 'catalogue:my_page' %}" method="POST" accept-charset="utf-8">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-warning my-2 my-sm-0 " id="clean_history" value="Supprimer l'historique de recherche">
        </form>
    </div>
</div>


{% endblock %}